main {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/22/19/33/asian-cuisine-1850233_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.transparent {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    padding-top: 15px;
}

nav a {
    font-family: 'Song Myung', serif;
}

.iconesMenu {
    display: flex;
    align-items: center;
}

.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table {
    border-left: 1px solid white;
}

td, th {
    font-family: 'Song Myung', serif;
    padding: 10px 20px !important;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content p {
    font-family: 'Oregano', cursive;
    color: rgb(14, 13, 13);
}