body{
    background-image: url(./art-asiatique-musee-de-san-francisco.jpg);
    background-attachment: fixed;
    background-size: 125vh;
    font-family: 'Oregano', cursive;
    font-size: larger;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.1);
}

nav {
    padding-top: 15px;
}
nav a {
    font-family: 'Song Myung', serif;
}

.container {
    display: flex;
    justify-content: center;
}

.column {

    border: 1px solid black;

}

.columns {
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: .9;   */
    max-width: 50%;
}

.card {
    height:100%;
    /* max-width: 100%; */

}

.col-menu {
    position: fixed;
    left: 80px;
    top: 30%;
    text-align: center;
    background-color: white;
    font-size: larger;

}

h2 {
    font-size: 200%;
}

.section-title {
    background-color: white;
    /* opacity: .7;   */
    padding: 5px;

}

.title, .subtitle {
    display: flex;
    justify-content: center;
}

.card-image,
.card-image .image img, .media-content{
  height: 200px;

}

.fa-shopping-basket {
    display: flex;
    justify-content: flex-end;
}

.media-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:450px) and (max-width: 1023px){
    
    .columns {
       max-width: 75%;
    }

    .col-menu {
       display: flex;
flex-direction: row;
        text-align: center;
        background-color: white;
        font-size: larger;
        position: unset;
    
    }
}

@media screen and (max-width: 450px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}